//- Variables used: "user", "active", "childID", "fullName", "sidebarForceHidden", "classid", "courseid"
//- User can be officer, teacher, sysadmin or parent

mixin sidebar_item(link, text)
  if(text==active)
    a(class='active-sidebar-item')= text
  else
    a(class='sidebar-item' href=link)= text

mixin small_item(link, text)
  a(class='sidebar-item smallLogout hidden-sm hidden-md hidden-lg ' href=link)
    span(class= 'glyphicon glyphicon-log-out')
    = ' ' + text

if sidebarForceHidden
  div(class='sidebar' id='sidebar' style="margin-left: -100%;")
    if(user=="officer")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      a(class='active-sidebar-item' style="background:#B3E5FC; text-align:center; padding-right:10px; border-bottom: 1px solid rgba(0,0,0,.12);")
        | #{fullName}
      a(class='active-sidebar-item' style="background:#B3E5FC;")
    else if(user=="teacher")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      a(class='active-sidebar-item' style="background:#B3E5FC; text-align:center; padding-right:10px; border-bottom: 1px solid rgba(0,0,0,.12);")
        | #{fullName}
    else if(user=="parent")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      a(class='active-sidebar-item' style="background:#B3E5FC; text-align:center; padding-right:10px; border-bottom: 1px solid rgba(0,0,0,.12);")
        | #{fullName}
      a(class='active-sidebar-item' style="background:#B3E5FC;")
    +small_item("/auth_router/logout", "Log out")

else
  div(class='sidebar' id='sidebar')
    if(user=="officer")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      a(class='active-sidebar-item' style="background:#B3E5FC; padding-right:10px;")
        | #{fullName}
      a(class='active-sidebar-item' style="background:#B3E5FC; border-bottom: 1px solid rgba(0,0,0,.12);")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      +sidebar_item("/officer/parents", "Manage parents")
      +sidebar_item("/officer/enroll_student", "Enroll student")
      +sidebar_item("/officer/enroll_parent", "Register parent")
      +sidebar_item("/officer/insert_communication", "Insert communication")
      +sidebar_item("/officer/time_table", "Time table composition")
      +sidebar_item("/officer/class", "Class composition")
    else if(user=="teacher")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      a(class='active-sidebar-item' style="background:#B3E5FC; padding-right:10px;")
        | #{fullName}
      a(class='active-sidebar-item' style="background:#B3E5FC; border-bottom: 1px solid rgba(0,0,0,.12);")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      +sidebar_item("/teacher/class/" + classid +"/course/" + courseid + "/course_home", "Course home page")
      +sidebar_item("/teacher/class/" + classid +"/course/" + courseid + "/reg_topic", "Insert daily topic")
      +sidebar_item("/teacher/class/" + classid +"/course/" + courseid + "/add_material", "Add material")
      +sidebar_item("/teacher/class/" + classid +"/course/" + courseid + "/class_mark", "Insert marks (class)")
      +sidebar_item("/teacher/class/" + classid +"/course/" + courseid + "/insert_stuff", "Insert attendance and notes")
      +sidebar_item("/teacher/class/" + classid +"/course/" + courseid + "/insert_homework", "Add homework")
    else if(user=="sysadmin")
      +sidebar_item("/admin/enroll_officer", "Register officer")
      +sidebar_item("/admin/enroll_teacher", "Register teacher")
      +sidebar_item("/admin/enroll_principal", "Register principal")
    else if(user=="parent")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      a(class='active-sidebar-item' style="background:#B3E5FC; padding-right:10px;")
        | #{fullName}
      a(class='active-sidebar-item' style="background:#B3E5FC; border-bottom: 1px solid rgba(0,0,0,.12);")
      a(class='active-sidebar-item' style="background:#B3E5FC;")
      +sidebar_item("/parent/parent_home", "Parent homepage")
      +sidebar_item("/parent/"+childID+"/show_courses", "Show courses")
      +sidebar_item("/parent/"+childID+"/absences_notes", "Notes and absences")
      +sidebar_item("/parent/"+childID+"/marks", "Show all marks")
    +small_item("/auth_router/logout", "Log out")

script
  include scripts.js