//- Those variables should be in every page. ALWAYS PASS childID, fullName, courseID
- var page = "Course homeworks"
- var loggedIn = true
- var user = "parent"
- var active = "Show course homeworks"

//- variables used: student_name, course, student_hws {date, description}

mixin rowHomeworks(date, desc)
  tr(class="table-row table-row-base")
    td(style="width: 70%; text-align: left; padding-left: 20px;") #{date}
    td(style="width: 70%; text-align: left; padding-left: 20px;") #{desc}

mixin rowMaterials(title, link)
  tr(class="table-row table-row-base")
    td(style="width: 70%; text-align: left; padding-left: 20px;") #{title}
    td(style="width: 70%; text-align: left; padding-left: 20px;")
      a(href='/' + link) Link

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      a(href="../"+courseID class="noLinkTitle backButton")
        span(class="glyphicon glyphicon-menu-left backButton")
      div(class='row')
        h1(class='title') #{student_name}'s #{fullName} materials
      div(class='row')
        div(class="col-lg-2 col-sm-2")
        div(class="col-lg-8 col-sm-12 col-xs-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Title
              th Link
            for mt in course_mtw
              +rowMaterials(mt.description, mt.link)
      div(class='row')
        h1(class='title') #{student_name}'s #{fullName} homeworks
      div(class='row')
        div(class="col-lg-2 col-sm-2")
        div(class="col-lg-8 col-sm-12 col-xs-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Description
            for hw in student_hws
              +rowHomeworks(hw.date, hw.description)

              //- ADD DOWNLOAD