// Those variables should be in every page
- var page = "Add homework"
- var loggedIn = true;
- var user = "teacher"
- var active = "Add homework"

mixin rowHomework(date, description)
  tr(class="table-row table-row-base")
    td(style="text-align:left")= date
    td(style="text-align:left")= description
      

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') #{className} - #{courseName}
      div(class='row')
        h1(class='title') Add homework
      if msg != ""
        div(class="row")
          h2(class=msgClass) #{msg}
      form(method='POST' action="/teacher/class/"+classID+"/course/"+courseID+"/insert_homework" id="regform")
        div(class='row' style='margin-top: 40px;')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='desc') Description:
              input(type='text' placeholder='Description' name='desc' class="form-control")
        div(class='row')
          div(class='col-lg-3')
          div(class='col-lg-6 col-xs-12')
            div.form-group
              label(for='date') Date:
              input(type='date' name='date' value=dateString class="form-control") 
        div(class="row")
          div(class='col-sm-5 col-lg-6')
          div(class='col-sm-4 col-lg-3 col-xs-10')
            input(type='SUBMIT' value='Add material' name="add_material" class='btn blockButton' style='margin-top:24px; padding: 6px 10px; margin-left:25%; width:75%;')

      div(class="h-50 d-inline-block")    
        div(class='row')
          h1(class='title') Old Homework
        div(class='row')
          div(class="col-lg-2 col-sm-2 col-xs-1")
          div(class="col-lg-8 col-sm-8 col-xs-10" style='align-content:center;')
            table(style="width:100%; text-align:center; align-content:center;  table-layout:fixed;" class="table table-scroll")
              thead
                tr(class='table-row-base' style="width:99%")
                  th(style="text-align:left") Date
                  th(style="text-align:left") Description
              tbody
                for hw in hw_array
                  +rowHomework(hw.date, hw.description)
