//- Those variables should be in every page
- var page = "Daily topic"
- var loggedIn = true;
- var date = new Date();
- var user= "teacher"
- var active= "Insert daily topic"

//- variables used: fullName, dateString, msg, msgClass, className, courseName

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    div(class='container sidebarContainer')
      div(class='row')
        h1(class='title') #{className} - #{courseName} - Record daily topic
      if msg != ""
        div(class="row")
          h2(class=msgClass) #{msg}
      div(class='row')
      form(method='POST' action="/teacher/class/" + classid +"/course/" + courseid + "/reg_topic" id="regform")
        div(class='row' style='margin-top: 40px;')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div.form-group
              label(for='course') Subject:
              input(type = "text" placeholder="Topic name" name='topic_name' class='form-control' required)
        div(class='row')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div.form-group
              label(for='date') Date:
              input(type='date' name='date' value=dateString class="form-control" required)    
        div(class='row')
          div(class='col-sm-3')
          div(class='col-sm-6')
            div.form-group
              label(for='desc') Description:
              textarea(name="description" placeholder="Topic description" form="regform" class="form-control" required style="resize:none" rows="5")
        div(class="row")
          div(class='col-sm-5 col-lg-6')
          div(class='col-sm-4 col-lg-3 col-xs-10')
            input(type='SUBMIT' value='Record topic' class='btn blockButton' style='margin-top: 24px; margin-left: 25%; padding: 6px 10px; width: 75%;')
