//- Ajax. Belongs to page teacher_insertabsence

//- variables used: students[] {id, first_name, last_name, absent, lateEntry, earlyExit}

//- If true, the cell is green
mixin cellGreen(value, student, absType) 
  if value
    td(class="orange" style="cursor:pointer;" id=student.id onclick="removeAbsence(this)")
  else
    td(class="blueHover" style="cursor:pointer;" id=student.id onclick=absType+"(this)")

mixin rowStudent(student)
  tr(class="table-row table-row-base")
    td 
      a(class="noLinkTitle blueTextHover" style="padding:8px" href="./student/"+student.id+"?back=absences") #{student.first_name} #{student.last_name}
    +cellGreen(student.absent, student, "insertAbsence")
    +cellGreen(student.lateEntry, student, "insertLateEntry")
    +cellGreen(student.earlyExit, student, "insertEarlyExit")

div(class="col-xs-12")
  div(class="col-sm-1 col-lg-3")
  div(class="col-sm-10 col-lg-6 col-xs-12" style='align-content:center;')
    table(style="width:100%; text-align:center; align-content:center;" class="table table-bordered")
      tr(class='table-row-base')
        th(style="width: 55%;") Student
        th(style="width: 15%;") Absent
        th(style="width: 15%;") Late entry
        th(style="width: 15%;") Exit early
      for student in students
        +rowStudent(student)