//- Those variables should be in every page. Always pass fullName
- var page = "Student " + studentName
- var loggedIn = true
- var user = "teacher"
- var active = ""

//- Variables used: studentName, courseName, marks[] {score, date}, studentID, msg,
  absences[] {date, type, justified, id}

- const marks = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- const modifiers = [0, 0.25, 0.5, 0.75]

mixin rowMark(date, mark)
  tr(class="table-row table-row-base")
    td(style="width:50%")= date
    td(style="width:50%")= mark

mixin rowAbsence(date, type, justified, id)
  tr(class="table-row table-row-base")
    td(style="width:40%")= date
    td(style="width:40%")= type
    if justified
      td(style="width:20%; cursor:pointer;" id=id class="green greenHover" onclick="unJustify(this)")
    else
      td(style="width:20%; cursor:pointer;" id=id class="red redHover" onclick="justify(this)")

doctype html
html
  include ../base/head.pug
  body
    include ../base/navbar.pug
    include ../base/sidebar.pug
    script
      include ./teacher_singleStudent_scripts.js
    div(class="container sidebarContainer")
      //- TODO: link back to backwards page
      a(href="../"+back class="noLinkTitle backButton")
        span(class="glyphicon glyphicon-menu-left backButton")
      div(class="row")
        h1(class = 'title') #{courseName}
      div(class='row')
        h2(class='title2') #{studentName} overview
      //- If msg
      if msg == "markok"
        div(class="row")
          h2(class="title2 ok_msg") Mark inserted correctly
      else if msg == "noteok"
        div(class="row")
          h2(class="title2 ok_msg") Note inserted correctly
      if msg == "markerr"
        div(class="row")
          h2(class="title2 err_msg") Mark: subject or description empty  
      else if msg == "noteerr"
        div(class="row")
          h2(class="title2 err_msg") Note: empty note
      div(class="row")
        //- Marks
        h2(class="title2") New mark
      div(class="row")
        div(class="col-xs-12")
          form(action='./'+studentID+'/insert_mark' method="POST" id="markform") 
            div(class='row')
              div(class='col-sm-3')
              div(class='col-sm-6')
                div.form-group
                  label(for='course') Subject:
                  input(type='text' id="mark_sub" oninput="checkMark()" placeholder='Subject' name='subject' class='form-control')
            div(class='row')
              div(class='col-sm-3')
              div(class='col-sm-6')
                div.form-group
                  label(for='desc') Description:
                  textarea(name="desc" id="mark_desc" oninput="checkMark()" form="markform" class="form-control" style="resize:none" rows="5")
            div(class='row')
              div(class='col-sm-3')
              div(class='col-sm-6')
                div.form-group
                  label(for='desc') Type:
                  select(placeholder='Type' name='type' class='form-control')
                    option(value="Written") Written
                    option(value="Oral") Oral
                    option(value="Project") Project
                    option(value="Other") Other
            div(class='row')
              div(class='col-sm-3')
              div(class='form-group')
                div(class='col-sm-3 col-md-3 col-xs-12')
                  label(for='mark') Mark:
                  //- On click triggers function checkTen()
                  select(class='form-control' id='mark' name="mark" onclick="checkTen()")
                    for mark in marks
                      option(value=mark) #{mark}
                div(class="col-sm-1 col-xs-12")
                  h2(class="noLinkTitle" style="display:block; text-align:center;") +
                div(class="col-sm-2 col-xs-12")
                  label(for='modifier') Modifier:
                  select(class='form-control', id='modifier', name='modifier')
                    for modifier in modifiers
                      option(value=modifier) #{modifier}
            div(class="row")
              div(class='col-sm-5 col-lg-6')
              div(class='col-sm-4 col-lg-3 col-xs-10')
                input(type='SUBMIT' value='Insert mark' id='insert_mark' name='insert_mark' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px; margin-left:25%; width: 75%;' disabled)
      //- Note
      div(class="row")
        h2(class="title2") New note
      div(class="row")
        div(class="col-xs-12")
          form(action='./'+studentID+'/insert_note' method="POST" id="noteform")
            div(class='row')
              div(class='col-sm-3')
              div(class='col-xs-12 col-sm-6')
                div.form-group
                  label(for='note') Note:
                  textarea(name="note" id="note_desc" oninput="checkNote() " form="noteform" class="form-control" style="resize:none" rows="5")
            div(class="row")
              div(class='col-sm-5 col-lg-6')
              div(class='col-sm-4 col-lg-3 col-xs-10')
                input(type='SUBMIT' value='Insert note' id='insert_note' name='insert_note' class='btn blockButton' style='margin-top: 24px; padding: 6px 10px; margin-left:25%; width: 75%;' disabled)
      //- List of marks
      div(class="row")
        h2(class="title2") Marks
      div(class="row")
        div(class="col-sm-3")
        div(class="col-sm-6 col-xs-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Mark
            for mark in st_marks
              +rowMark(mark.date, mark.score)
      //- List of absences
      div(class="row")
        h2(class="title2") Absences
      div(class="row")
        div(class="col-sm-3")
        div(class="col-sm-6 col-xs-12" style='align-content:center;')
          table(style="width:100%; text-align:center; align-content:center" class="table table-bordered")
            tr(class='table-row-base')
              th Date
              th Absence type
              th Justified
            for absence in absences
              +rowAbsence(absence.date, absence.type, absence.justified, absence.id)